{% extends 'index.html' %}
{% load static %}
{% block sign %}
    <section class="row justify-content-center">
        <form method="post" class="col-3 justify-content-center" id="signin">
            {% csrf_token %}
            <h2>Sign<span>In</span></h2>
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <input type="submit" class="btn btn-primary" value="Get In">
            <p>New user? then <a href="signup">SignUp</a></p>
        <form>
    </section>

    <script>

    </script>

{% endblock %}